@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300);
h2,
h3 {
  margin-top: 0
}
a,
a:visited {
  color: #0678be
}
.button,
.drupalcamp a,
.drupalcamp a:visited,
.global a,
.global a:visited,
.meetups,
.meetups a,
.meetups a:visited,
a.button:visited,
footer a,
footer a:active,
footer a:visited,
nav,
nav a,
nav a:visited {
  color: #fff
}
.hero h2,
.twopercent-brief a,
.twopercent-brief h2 {
  color: #064771
}
.hero,
body {
  color: #4e4e4e
}
.drupalcamp .button,
.twopercent-brief .button {
  background-color: transparent;
  font-size: 1.1em;
  text-decoration: none
}
.element-invisible {
  position: absolute!important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px
}
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static!important;
  clip: auto;
  overflow: visible;
  height: auto
}
.hero,
.twopercent-brief,
footer {
  text-align: center
}
.hero h2 {
  background:
    url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/css/panels/images/logo-d8.svg)
    top center/420px no-repeat;
  padding-top: 300px;
  /* font-size: 2.25em; */
  margin-bottom: 0;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
body,
h2,
h3 {
  font-family: Ubuntu,sans-serif
}
body {
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
a {
  background: 0 0
}
a:active,
a:hover {
  outline: 0
}
strong {
  font-weight: 700
}
*,
:after,
:before {
  box-sizing: inherit
}
.button {
  background-color: #064771;
  border: 2px solid #064771;
  display: inline-block;
  font-size: 1em;
  padding: .5em 2.75em;
  text-decoration: none
}
.button:focus,
.button:hover {
  background-color: #0678be;
  border: 2px solid #0678be;
  color: #fff;
  text-decoration: none
}
@media (min-width:0) and (max-width:1200px) {
  
  nav li {
    position: relative
  }
  
  nav {
    position: absolute
  }
  
  nav li,
  nav ul {
    display: block
  }
  
  nav {
    width: 100%
  }
  nav {
    overflow: hidden;
    background-color: #0678be;
    font-family: Ubuntu,sans-serif;
    top: 0;
    left: 0;
    z-index: 200
  }
  nav ul {
    margin: 0
  }
  nav li {
    border-top: 1px solid rgba(255,255,255,.1);
    padding: 0
  }
  nav li a:link,
  nav li a:visited {
    display: block;
    color: #fff;
    font-size: pem(14);
    line-height: pem(18,14);
    font-weight: 700;
    outline: 0
  }
  nav li a:link:hover,
  nav li a:visited:hover {
    color: #9ed8fc
  }
  
  nav:not(:target) {
    z-index: 1;
    position: fixed
  }
  nav li a {
    font-size: .88em;
    padding: pem(12,14) pem(30,14)
  }
  nav li a:hover {
    color: #f0f0f0
  }
  nav li:last-child {
    border-bottom: 1px solid rgba(255,255,255,.1)
  }
}
#menu-icon,
.logo {
  display: none
}
h2,
h3 {
  font-weight: 300
}
header {
  background-color: #0678be;
  padding: .5em 0;
  position: fixed;
  width: 100%;
  z-index: 999
}
nav .menu a {
  text-decoration: none
}
nav .menu li {
  padding: 0 .75em
}
nav .menu li a {
  padding: .65em 0
}
nav a:hover {
  color: #9ed8fc
}
h2 {
  font-size: 3em;
  margin-bottom: .25em
}
h3 {
  color: #838282;
  font-size: 1.25em
}
@media (min-width:580px) {
  h3 {
    font-size: 1.75em
  }
}
.hero {
  background:
    url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-ltblue-city.jpg)
    top center/cover no-repeat #def1f8;
  padding: 4em 0
}
.hero .button {
  margin-right: 1em;
  margin-top: .5em
}
.drupalcamp .button {
  border: 2px solid #fff;
  color: #fff
}
.drupalcamp .button:focus,
.drupalcamp .button:hover {
  background-color: #fff;
  color: #0678be;
  text-decoration: none
}
.activities,
.twopercent-detail {
  background:
    url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-gray-city.jpg)
    top center/cover no-repeat #dcdcdc;
  color: #4e4e4e;
  text-align: center;
  padding: 4em 0
}
.activities h2 {
  font-size: 2em
}
.global {
  background:
    url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-blue-city.jpg)
    top center/cover no-repeat #0678be;
  color: #fff
}
.twopercent-brief {
  background:
    url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-gray-blueprint.png)
    top left #dcdcdc;
  color: #4e4e4e;
  border-bottom: 50px solid #7cbc48;
  padding: 4em 0
}

footer {
  color: #fff
}
.twopercent-brief a.button {
  border: 2px solid #4e4e4e;
  color: #4e4e4e;
  margin-bottom: 5px;
}
.twopercent-brief .button:focus,
.twopercent-brief .button:hover {
  background-color: #4e4e4e;
  color: #fff;
  text-decoration: none
}
.drupalcamp,
footer {
  background-color: #0678be
}
.twopercent-detail a,
.twopercent-detail a:visited {
  color: #367d02
}
.drupalcamp {
  padding: 6em 0;
  background-image:
    url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/img-white-tools.png)
    ,
    url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-blue-blueprint.jpg)
;
  background-position: bottom center,top left;
  background-repeat: no-repeat,repeat;
  background-size: 500px,auto;
  color: #fff;
}
.global,
.meetups {
  padding: 4em 0 6em
}
.activities-first h2 {
  background:
    url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/icon-authoring-editors.png)
    top center/auto 120px no-repeat;
  padding-top: 140px
}
.activities-second h2 {
  background:
    url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/icon-authoring-everyone.png)
    top center/auto 120px no-repeat;
  padding-top: 140px
}
.activities-third h2 {
  background:
    url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/icon-authoring-admins.png)
    top center/auto 120px no-repeat;
  padding-top: 140px
}
.meetups {
  background:
    url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/img-white-deployment.png)
    bottom center/400px no-repeat #064771
}
.global {
  background-color: #0678be;
  background-image:
    url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/img-ltgray-multilingual.png)
    ,
    url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-blue-city.jpg)
;
  background-position: bottom -10% center,top center;
  background-repeat: no-repeat,no-repeat;
  background-size: 400px,cover
}
.pane-title a,
.twopercent-detail h3 a {
  padding-top: 40px
}
@media (min-width:768px) {
  .hero h2 {
    font-size: 3.25em
  }
  .hero p {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto
  }
  .drupalcamp {
    background-position: bottom left -200px,top left
  }
  .meetups {
    background-position: bottom left -160px;
    background-size: 500px
  }
  .global {
    background-position: bottom right -180px,top center;
    background-size: 500px,cover
  }
}
@media (min-width:990px) {
  .drupalcamp {
    background-position: bottom left -120px,top left
  }
  .meetups {
    background-position: bottom left -80px
  }
  .global {
    background-position: bottom right -100px,top center
  }
}
@media (min-width:960px) {
  .twopercent-brief p {
    margin: 1em auto;
    width: 60%
  }
}
@media (max-width:767.99px) {
  .hero h2 {
    background: url(../images/sda.svg) top center/420px no-repeat;
    margin-bottom: 0;
    padding-top: 300px;
  }
}
@media (min-width:768px) {
  .hero h2 {
    background: url(../images/sda.svg) top center/520px no-repeat;
    margin-bottom: 0;
    padding-top: 300px
  }
}
.twopercent-brief p,
.twopercent-detail li {
  text-align: left
}

.twopercent-brief .p-button {
  text-align: center;
  width: 100%
}
@media (min-width:1200px) {
  nav .first a {
    text-indent: -9999px;
    background:
      url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/icon-w-drupal.svg)
      center center/contain no-repeat;
    display: inline-block;
    height: 50px;
    width: 50px
  }
  nav .menu {
    padding-left: 0;
    margin: 0
  }
  nav .menu li {
    display: inline-block;
    list-style-image: none;
    white-space: nowrap
  }
  .drupalcamp {
    background-position: bottom left 9%,top left;
    background-size: 540px,auto
  }
  .meetups {
    background-position: bottom left 10%;
    background-size: 540px
  }
  .global {
    background-position: bottom right 10%,top center;
    background-size: 540px,cover
  }
  .pane-title a,
  .twopercent-detail h3 a {
    padding-top: 66px;
  }
}
#menu-icon {
  width: 40px;
  height: 40px;
  background: url(../images/menu-icon.png) center
}
@media only screen and (max-width:1200px) {
  .logo,
  nav:hover ul {
    display: block
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px
  }
  #menu-icon {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0
  }
  nav ul {
    padding-left: 0
  }
  nav ul,
  nav:active ul {
    display: none;
    position: fixed;
    width: 100%;
    background: #0678be
  }
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0
  }
}

@media (max-width:767.99px) {
  .drupalcamp {
    background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-blue-blueprint.jpg) repeat repeat;
  }
  .global {
    background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-blue-city.jpg) repeat repeat;
  }
  .meetups {
    background: #064771;
  }
}