@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300);
a, a:visited {
  color: #0678be;
}
.button,
a.button:visited,
.d8 .quaternary a,
.d8 .quaternary a:visited,
.d8 .secondary a,
.d8 .secondary a:visited,
.l-navigation,
.l-navigation a,
.l-navigation a:visited {
  color: #fff
}
.d8 .secondary .button,
.d8 .senary .button {
  background-color: transparent;
  font-size: 1.1em;
  text-decoration: none
}
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px
}
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto
}
.clearfix:after {
  content: "";
  display: table;
  clear: both
}
.menu {
  border: none;
  list-style: none;
  text-align: left
}
.menu .leaf {
  list-style-image: url(https://www.drupal.org/sites/all/themes/omega/omega/images/misc/menu-leaf.png?1382488163);
  list-style-type: square
}
.panel-layout .container .container-inner {
  margin: 0 auto;
  width: 92%
}
.d8 .portal .header,
.d8 .portal .senary {
  text-align: center
}
.d8 .portal .header h2 {
  background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/css/panels/images/logo-d8.svg) top center/420px no-repeat;
  margin-bottom: 0;
  padding-top: 300px
}
.panel-layout {
  margin: 0;
  max-width: none
}
.panel-layout .container,
.panel-layout .tertiary-footer {
  float: left;
  clear: left;
  width: 100%
}
.panel-layout .panel-pane {
  position: relative
}
.panel-layout .container {
  padding: 4em 0;
  position: relative
}
.panel-layout .tertiary-first,
.panel-layout .tertiary-second,
.panel-layout .tertiary-third {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none
}
header,
nav {
  display: block
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
body,
h2,
h3 {
  font-family: Ubuntu, sans-serif
}
body {
  margin: 0;
  color: #4e4e4e;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
a {
  background: 0 0
}
a:active,
a:hover {
  outline: 0
}
strong {
  font-weight: 700
}
*,
:after,
:before {
  box-sizing: inherit
}
.button {
  background-color: #064771;
  border: 2px solid #064771;
  display: inline-block;
  font-size: 1em;
  padding: .5em 2.75em;
  text-decoration: none
}
.button:focus,
.button:hover {
  background-color: #0678be;
  border: 2px solid #0678be;
  color: #fff;
  text-decoration: none
}
@media (min-width: 0) and (max-width: 1200px) {
  .close-btn,
  .close-btn:focus,
  .close-btn:hover,
  .nav-btn:focus,
  .nav-btn:hover {
    opacity: 1
  }
  .nav-btn {
    opacity: .7
  }
  .close-btn,
  .nav-btn {
    width: pem(42);
    border: 0;
    white-space: nowrap;
    text-indent: 100%;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    outline: 0;
    display: block
  }
  #top,
  .l-page,
  .menu-block {
    position: relative
  }
  .menu-block {
    margin: 0 auto;
    padding: pem(24) pem(20);
    max-width: pem(960)
  }
  .close-btn {
    height: pem(36);
    padding: 0;
    background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/off-canvas/close-btn.svg) left center no-repeat #0678be;
    background-size: pem(30) pem(30);
    opacity: 1
  }
  .nav-btn {
    height: pem(32);
    padding: 1em 0;
    background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/icon-w-drupal.svg) left center no-repeat;
    background-size: pem(30) pem(24);
    z-index: 10;
    opacity: .7
  }
  .l-page {
    width: 100%
  }
  nav {
    overflow: hidden;
    width: 100%;
    background-color: #0678be;
    font-family: Ubuntu, sans-serif;
    position: absolute;
    padding-top: 4em;
    top: 0;
    left: 0;
    z-index: 200
  }
  nav .menu-block {
    z-index: 2
  }
  nav ul {
    overflow: hidden;
    display: block;
    margin: 0
  }
  nav li {
    display: block;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding: 0
  }
  nav li a:link,
  nav li a:visited {
    display: block;
    color: #fff;
    font-size: pem(14);
    line-height: pem(18, 14);
    font-weight: 700;
    outline: 0
  }
  nav li a:link:hover,
  nav li a:visited:hover {
    color: #9ed8fc
  }
  #top {
    z-index: 100
  }
  #top .nav-btn {
    position: absolute;
    top: .2em;
    left: 1em
  }
  nav:not(:target),
  #block-system-user-menu:not(:target) {
    z-index: 1;
    height: 0
  }
  nav:target .close-btn {
    display: block
  }
  nav .menu-block {
    position: relative;
    padding: 0
  }
  nav li a {
    font-size: .88em;
    padding: pem(12, 14) pem(30, 14)
  }
  nav li a:hover {
    color: #f0f0f0
  }
  nav li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, .1)
  }
  nav .close-btn {
    display: none;
    position: absolute;
    top: 1em;
    left: 2em
  }
}
h2,
h3 {
  font-weight: 300
}
.l-navigation {
  background-color: #0678be;
  padding: .5em 0
}
.l-navigation .menu a {
  text-decoration: none
}
.l-navigation .menu li {
  padding: 0 .75em
}
.l-navigation .menu li a {
  padding: .65em 0
}
.l-navigation a:hover {
  color: #9ed8fc
}
.l-footer-wrapper {
  background-color: #f0f0f0
}
.d8 .senary a,
.d8 .senary h2,
.l-footer-wrapper a {
  color: #064771
}
.d8 .header,
.l-footer-wrapper a:focus,
.l-footer-wrapper a:hover {
  color: #4e4e4e
}
.l-footer-wrapper .block p {
  text-align: center;
  border-top: 2px solid #888;
  padding-top: 1em
}
.d8 .container h2 {
  font-size: 3em;
  margin-bottom: .25em;
  margin-top: 0
}
.d8 .container h3 {
  color: #838282;
  margin-top: 0;
  font-size: 1.25em
}
@media (min-width: 580px) {
  .d8 .container h3 {
    font-size: 1.75em
  }
}
.d8 .header {
  background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-ltblue-city.jpg) top center/cover no-repeat #def1f8;
  padding: 4em 0
}
.d8 .footer,
.d8 .septenary {
  padding: .5em 0;
  text-align: center
}
.d8 .header h2 {
  color: #064771;
  font-size: 2.25em;
  margin-bottom: 0
}
.d8 .header .button {
  margin-right: 1em;
  margin-top: .5em
}
.d8 .secondary {
  background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-blue-blueprint.jpg) top left #0678be;
  color: #fff
}
.d8 .secondary .button {
  border: 2px solid #fff;
  color: #fff
}
.d8 .secondary .button:focus,
.d8 .secondary .button:hover {
  background-color: #fff;
  color: #0678be;
  text-decoration: none
}
.d8 .nonary,
.d8 .tertiary {
  background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-gray-city.jpg) top center/cover no-repeat #dcdcdc;
  color: #4e4e4e;
  text-align: center
}
.d8 .tertiary h2 {
  font-size: 2em
}
.d8 .quaternary {
  background-color: #064771;
  color: #fff
}
.d8 .quinary {
  background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-blue-city.jpg) top center/cover no-repeat #0678be;
  color: #fff
}
.d8 .senary {
  background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-gray-blueprint.png) top left #dcdcdc;
  color: #4e4e4e
}
.d8 .senary .button {
  border: 2px solid #4e4e4e;
  color: #4e4e4e
}
.d8 .senary .button:focus,
.d8 .senary .button:hover {
  background-color: #4e4e4e;
  color: #fff;
  text-decoration: none
}
.d8 .septenary {
  background-color: #7cbc48;
  color: #fff
}
.d8 .nonary a,
.d8 .nonary a:visited {
  color: #367d02;
}
.d8 .footer {
  background-color: #0678be;
  color: #fff
}
.d8 .portal .secondary {
  padding: 6em 0;
  background-color: #0678be;
  background-image: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/img-white-tools.png),
  url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-blue-blueprint.jpg);
  background-position: bottom center, top left;
  background-repeat: no-repeat, repeat;
  background-size: 500px, auto
}
@media (min-width: 768px) {
  .d8 .portal .senary .panel-pane {
    background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/css/panels/images/bg-gray-libraries.png) bottom center/contain no-repeat;
    padding-bottom: 180px
  }
  .d8 .header h2 {
    font-size: 3.25em
  }
  .d8 .portal .header p {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto
  }
  .d8 .portal .secondary {
    background-position: bottom left -200px, top left
  }
}
.d8 .portal .quaternary .panel-pane,
.d8 .portal .secondary .panel-pane {
  padding-bottom: 300px
}
@media (min-width: 768px) {
  .d8 .portal .secondary .panel-pane {
    padding-left: 40%;
    padding-bottom: 0
  }
}
.d8 .portal .tertiary-first h2 {
  background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/icon-authoring-editors.png) top center/auto 120px no-repeat;
  padding-top: 140px
}
.d8 .portal .tertiary-second h2 {
  background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/icon-authoring-everyone.png) top center/auto 120px no-repeat;
  padding-top: 140px
}
.d8 .portal .tertiary-third h2 {
  background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/icon-authoring-admins.png) top center/auto 120px no-repeat;
  padding-top: 140px
}
.d8 .portal .quaternary {
  padding: 4em 0 6em;
  background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/img-white-deployment.png) bottom center/400px no-repeat #064771
}
@media (min-width: 768px) {
  .d8 .portal .quaternary {
    background-position: bottom left -160px;
    background-size: 500px
  }
  .d8 .portal .quaternary .panel-pane {
    padding-left: 40%;
    padding-bottom: 0
  }
}
.d8 .portal .quinary {
  padding: 4em 0 6em;
  background-color: #0678be;
  background-image: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/img-ltgray-multilingual.png),
  url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-blue-city.jpg);
  background-position: bottom -10% center, top center;
  background-repeat: no-repeat, no-repeat;
  background-size: 400px, cover
}
@media (min-width: 768px) {
  .d8 .portal .quinary {
    background-position: bottom right -180px, top center;
    background-size: 500px, cover
  }
}
@media (min-width: 990px) {
  .d8 .portal .secondary {
    background-position: bottom left -120px, top left
  }
  .d8 .portal .quaternary {
    background-position: bottom left -80px
  }
  .d8 .portal .quinary {
    background-position: bottom right -100px, top center
  }
}
.d8 .portal .quinary .panel-pane {
  padding-bottom: 200px
}
@media (min-width: 768px) {
  .d8 .portal .quinary .panel-pane {
    padding-right: 40%;
    padding-bottom: 0
  }
}
@media (min-width: 1200px) {
  .panel-layout .container .container-inner {
    max-width: 1200px
  }
  nav .first a {
    text-indent: -9999px;
    background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/icon-w-drupal.svg) center center/contain no-repeat;
    display: inline-block;
    height: 50px;
    width: 50px;
  }
  nav .close-btn,
  #top .nav-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
  }
  .l-navigation .menu {
    padding-left: 0;
    margin: 0
  }
  .l-navigation .menu li {
    display: inline-block;
    list-style-image: none;
    white-space: nowrap
  }
  .d8 .portal .secondary {
    background-position: bottom left 9%, top left;
    background-size: 540px, auto
  }
  .d8 .portal .quaternary .panel-pane,
  .d8 .portal .secondary .panel-pane {
    padding-left: 50%
  }
  .d8 .portal .quaternary {
    background-position: bottom left 10%;
    background-size: 540px
  }
  .d8 .portal .quinary {
    background-position: bottom right 10%, top center;
    background-size: 540px, cover
  }
  .d8 .portal .quinary .panel-pane {
    padding-right: 50%
  }
}
@media (min-width: 960px) {
  .panel-layout .tertiary-first {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none
  }
  .panel-layout .tertiary-second {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 33.89831%;
    clear: none
  }
  .panel-layout .tertiary-third {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
  }
  .d8 .portal .senary p {
    margin: 1em auto;
    width: 60%
  }
}
.d8 .portal .senary .panel-pane {
  background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-gray-libraries-sm.png) bottom center/contain no-repeat;
  padding-bottom: 130px
}
@media (max-width: 767.99px) {
  .d8 .portal .header h2 {
    background: url(../images/sda.svg) top center/420px no-repeat;
    margin-bottom: 0;
    padding-top: 300px
  }
}
@media (min-width: 768px) {
  .d8 .portal .senary .panel-pane {
    background: url(https://www.drupal.org/sites/all/themes/drupalorg_themes/blueprint/images/bg-gray-libraries.png) bottom center/contain no-repeat;
    padding-bottom: 180px
  }
  .d8 .portal .header h2 {
    background: url(../images/sda.svg) top center/520px no-repeat;
    margin-bottom: 0;
    padding-top: 300px
  }
}
.d8 .nonary li,
.d8 .portal .senary p {
  text-align: left
}
.d8 .portal .senary .panel-pane {
  background-image: none;
  padding-bottom: 20px
}
.d8 .portal .senary .p-button {
  text-align: center;
  width: 100%
}
.d8 .footer a,
.d8 .footer a:visited,
.d8 .footer a:active {
  color: white;
}
.l-constrained,
.l-region--footer {
  margin: 0 auto;
  width: 92%
}
.l-constrained:after,
.l-region--footer:after {
  content: "";
  display: table;
  clear: both
}
.l-header {
  padding-top: 0
}
.l-branding {
  text-align: center;
  width: 100%
}
.l-footer-wrapper {
  padding: 3em 0
}
@media (min-width: 768px) {
  .l-content {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none
  }
  .has-no-sidebars .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
  }
}
@media (min-width: 1200px) {
  .l-constrained,
  .l-region--footer {
    max-width: 1200px
  }
  .l-content {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none
  }
  .has-no-sidebars .l-content {
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
  }
  .has-no-sidebars .l-content {
    width: 100%
  }
}
@media (min-width: 1400px) {
  .l-content {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none
  }
  .has-no-sidebars .l-content {
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none
  }
  .has-no-sidebars .l-content {
    width: 100%
  }
}
.has-no-sidebars .l-content,
.l-content {
  float: none;
  margin: 0 auto
}